######
# Directories
######
.idea
**/autom4te.cache/
deps/build/
lib/.deps/
lib/.libs/
**/.libs

######
# Files
######
.idea/**
**/*.swp
**/Makefile
**/Makefile.in
**/aclocal.m4
**/build
**/compile
**/config.guess
**/config.sub
**/install-sh
**/ltmain.sh
**/missing
COPYING
INSTALL
ar-lib
config.h
config.h.in
config.log
config.status
configure~
depcomp
lib/*.la
lib/*.lo
lib/*.o
libtool
stamp-h1
tags
test-driver
scripts/**.log
**/.o
**/configure

######
# Build Files
######
bin/.deps/
bin/.libs/
bin/dag_serializer_runner
bin/dag_serializer_runner-dag_serializer_main.o
bin/https_dag_scheduler_runner
bin/https_dag_scheduler_runner-service_main.o
compile_commands.json
stages_lib/lib/.deps/
stages_lib/lib/.libs/
stages_lib/lib/libstages_lib.la
stages_lib/lib/libstages_lib_la-print_stage.lo
stages_lib/lib/libstages_lib_la-print_stage.o
test/.deps/
test/utils/.deps/
test/utils/.dirstamp
**/**/*.o
test/gtest_libdag_scheduler
test/gtest_libdag_scheduler.log
test/gtest_libdag_scheduler.trs
test/test-suite.log
**/.cache
